<div
  class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
>
  <div class="max-w-full">
    <div class="grid gap-5 mb-8 lg:grid-cols-3 sm:mx-auto">
      <div
        *ngFor="let prevent of prevents"
        class="px-10 py-8 text-center border rounded lg:px-5 lg:py-8 xl:py-8 shadow-lg hover:scale-105 transition-all duration-300"
      >
        <p
          class="mb-2 text-xs font-bold tracking-wide text-fpt-colors uppercase"
        >
          MediConnect
        </p>
        <a
          class="inline-block max-w-xs mx-auto mb-3 text-xl font-extrabold leading-7 transition-colors duration-200 hover:text-deep-purple-accent-400"
          aria-label="Read article"
          title="{{ prevent.title }}"
        >
          {{ prevent.title }}
        </a>
        <p class="max-w-xs mx-auto mb-2 text-gray-700">
          {{ prevent.description }}
        </p>
      </div>
    </div>
  </div>
</div>
