<form class="w-full text-left">
  <div class="mb-6">
    <label hlmLabl
      >Email
      <input
        hlmInput
        type="text"
        name=""
        id=""
        placeholder="Email Address"
        class="w-full mt-1"
      />
    </label>
  </div>
  <div class="mb-4">
    <label hlmLabel
      >Password
      <div class="relative">
        <span class="absolute inset-y-0 right-4 flex items-center pl-8">
          <ng-icon name="bootstrapEyeSlash" class="text-lg"></ng-icon>
        </span>
        <input
          hlmInput
          type="text"
          name=""
          id=""
          class="w-full mt-1"
          placeholder="Password"
        />
      </div>
    </label>
  </div>
  <div class="w-full text-left text-white">
    <p class="text-sm text-black">
      Don’t have an account?
      <a class="text-fpt-colors" routerLink="/signup">Register here</a>
    </p>
    <button
      hlmBtn
      type="submit"
      variant="fpt"
      class="text-center px-8 mt-8 py-2"
    >
      Login
    </button>
  </div>
</form>
