<div class="flow-root w-[500px]">
  <dl class="-my-3 divide-y divide-gray-100 text-sm">
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Fullname</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ user.fullName }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Email</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ user.email }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Role</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ user.role }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Created By</dt>
      <dd class="text-gray-700 sm:col-span-2">
        <p class="text-base">{{ user.createdBy }}</p>
        <div class="flex justify-between items-center">
          <div>
            <p class="text-xs text-gray-500" *ngIf="!showDate">
              {{ user.createdTime | timeAgo }}
            </p>
            <p class="text-xs text-gray-500" *ngIf="showDate">
              {{ user.createdTime | date : "EEEE, MMMM d, y, h:mm a" }}
            </p>
          </div>
          <label class="text-xs flex items-center gap-x-2 text-gray-500">
            Show Date
            <input
              type="checkbox"
              (change)="onToggleFormat($event)"
              [checked]="showDate"
            />
          </label>
        </div>
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Updated By</dt>
      <dd class="text-gray-700 sm:col-span-2">
        <p class="text-base">{{ user.updatedBy }}</p>
        <p class="text-xs text-gray-500">
          {{ user.updatedTime | timeAgo }}
        </p>
      </dd>
    </div>
  </dl>
</div>
