<div class="flow-root w-[500px]">
  <dl class="-my-3 divide-y divide-gray-100 text-sm">
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Fullname</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ user.fullName }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Email</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ user.email }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Role</dt>
      <dd class="text-gray-700 sm:col-span-2">
        {{ user.role }}
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Created By</dt>
      <dd class="text-gray-700 sm:col-span-2">
        <p class="text-base">{{ user.createdBy }}</p>
        <p class="text-xs text-gray-500">
          {{ user.createdTime | date : "full" }}
        </p>
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Updated By</dt>
      <dd class="text-gray-700 sm:col-span-2">
        <p class="text-base">{{ user.updatedBy }}</p>
        <p class="text-xs text-gray-500">
          {{ user.updatedTime | date : "full" }}
        </p>
      </dd>
    </div>
  </dl>
</div>
