<div class="font-poppins">
  <app-header *ngIf="showNavAndFooter"></app-header>

  <div class="min-h-[100vh]">
    <app-sidebar *ngIf="showSidebarAdmin"></app-sidebar>
    <app-sidebar-user *ngIf="showSidebarUser"></app-sidebar-user>
    <app-sidebar-user *ngIf="showSidebarUserPublic"></app-sidebar-user>
    <div
      class="w-full h-full"
      [ngClass]="
        showSidebarAdmin || showSidebarUser || showSidebarUserPublic
          ? 'bg-[#F3FBFF] pl-64'
          : 'bg-white'
      "
    >
      <app-header-admin *ngIf="showSidebar"></app-header-admin>
      <app-header-admin *ngIf="showSidebarUserPublic"></app-header-admin>
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer *ngIf="showNavAndFooter"></app-footer>
</div>
