<div
  class="mt-16 p-14 rounded-ss-[60px] rounded-ee-[60px] drop-shadow-button-dropShadow-fpt shadow-md bg-gradient-fpt-1"
>
  <div class="container px-6 mx-auto">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex gap-2 items-center">
        <div class="border border-white p-2 rounded-md">
          <img
            src="/assets/images/service1.png"
            alt="Service MediConnect"
            class="w-14 h-14"
          />
        </div>
        <div>
          <h1 class="text-lg font-semibold text-white">Free Service</h1>

          <p class="mt-2 text-sm text-white">
            No added fee when using our services
          </p>
        </div>
      </div>

      <div class="flex gap-2 items-center">
        <div class="border border-white p-2 rounded-md">
          <img
            src="/assets/images/service2.png"
            alt="Service MediConnect"
            class="w-24 h-14"
          />
        </div>
        <div>
          <h1 class="text-lg font-semibold text-white">
            Trusted Professionals
          </h1>

          <p class="mt-2 text-sm text-white">
            Diagnose by best of the best Doctor with the highest rating
          </p>
        </div>
      </div>

      <div class="flex gap-2 items-center">
        <div class="border border-white p-2 rounded-md">
          <img
            src="/assets/images/service1.png"
            alt="Service MediConnect"
            class="w-14 h-14"
          />
        </div>
        <div>
          <h1 class="text-lg font-semibold text-white">24 Hours</h1>

          <p class="mt-2 text-sm text-white">
            Ready to serve you 24 hours nonstop
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
