<hlm-table class="w-full min-w-[400px]">
  <hlm-caption>A list of your recent invoices.</hlm-caption>
  <hlm-trow>
    <hlm-th class="w-56">Doctor</hlm-th>
    <hlm-th class="flex-1">Date</hlm-th>
    <hlm-th class="flex-1">Time</hlm-th>
    <hlm-th class="flex-1">Queue Number</hlm-th>
  </hlm-trow>

  <hlm-trow *ngFor="let appointment of appointments">
    <hlm-td truncate class="font-medium w-56">
      <div class="w-full flex gap-x-6">
        <hlm-avatar>
          <img src="#" alt="Doctor Profile Picture" hlmAvatarImage />
          <span class="border border-black" hlmAvatarFallback>Doctor Name</span>
        </hlm-avatar>
        <div class="flex flex-col text-start md:block hidden">
          <div class="text-base font-semibold">{{ appointment.doctorId }}</div>
          <!-- Replace with actual doctor name if available -->
          <div class="text-slate-700 text-xs">Practice</div>
          <!-- Replace with actual practice if available -->
        </div>
      </div>
    </hlm-td>
    <hlm-td class="flex-1">{{ appointment.date | date : "fullDate" }}</hlm-td>
    <!-- Format date -->
    <hlm-td class="flex-1"
      >{{ appointment.startTime }} - {{ appointment.endTime }}</hlm-td
    >
    <hlm-td class="flex-1">{{ appointment.queueNumber }}</hlm-td>
  </hlm-trow>
</hlm-table>
