<div class="w-full flex flex-col justify-center items-center px-16 mt-10">
  <div class="w-full  mb-4">
    <h1 class="text-3xl font-semibold">PROFILE</h1>
    <p class="text-lg text-gray-500">Profile Information</p>
  </div>
  <div class="w-full grid grid-cols-2 gap-x-4 bg-white border-2 shadow-lg p-3">
    <label class="text-sm mt-4">
      Fullname
      <div
        class="w-full mt-1 py-1 px-2 border rounded-lg text-base font-medium"
      >
        Fullname
      </div>
    </label>

    <label class="text-sm mt-4">
      NIK
      <div
        class="w-full mt-1 py-1 px-2 border rounded-lg text-base font-medium"
      >
        NIK
      </div>
    </label>

    <label class="text-sm mt-4">
      Email
      <div
        class="w-full mt-1 py-1 px-2 border rounded-lg text-base font-medium"
      >
        Email
      </div>
    </label>

    <label class="text-sm mt-4">
      Phone Number
      <div
        class="w-full mt-1 py-1 px-2 border rounded-lg text-base font-medium"
      >
        Phone Number
      </div>
    </label>

    <label class="text-sm mt-4">
      Address
      <div
        class="w-full mt-1 py-1 px-2 border rounded-lg text-base font-medium"
      >
        Address
      </div>
    </label>

    <label class="text-sm mt-4">
      Sex
      <div
        class="w-full mt-1 py-1 px-2 border rounded-lg text-base font-medium"
      >
        Sex
      </div>
    </label>

    <label class="text-sm mt-4">
      Date Of Birth
      <div
        class="w-full mt-1 py-1 px-2 border rounded-lg text-base font-medium"
      >
        Date Of Birth
      </div>
    </label>
  </div>
</div>
