<div class="w-full flex flex-col justify-center items-center px-16 mb-8">
  <div class="w-full">
    <h1 class="text-3xl font-semibold">PROFILE</h1>
    <p class="text-lg text-gray-500">Profile Information</p>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="w-full">
    <!-- User Account Information Section -->
    <div class="mt-8 mb-4 border shadow rounded p-4">
      <div class="flex items-center justify-between mb-4">
        <p class="text-base font-medium">User Account Information</p>
        <button hlmBtn variant="fpt" class="text-white" type="button" (click)="toggleEdit('user')">
          {{ isUserEditing ? "Cancel" : "Edit User Info" }}
        </button>
      </div>
      <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-x-4 text-black">
        <div class="w-full mb-4">
          <label hlmLabel>
            Fullname
            <input
              hlmInput
              type="text"
              formControlName="fullName"
              class="w-full mt-1 text-black font-medium"
            />
          </label>
        </div>

        <div class="w-full mb-4">
          <label hlmLabel>
            Email
            <input
              hlmInput
              type="email"
              formControlName="email"
              class="w-full mt-1 text-black font-medium"
            />
          </label>
        </div>
      </div>
    </div>

    <!-- Patient Data Information Section -->
    <div class="border shadow rounded p-4">
      <div class="flex items-center justify-between mb-4">
        <p class="text-base mb-4 font-medium">Patient Data Information</p>
        <button hlmBtn type="button" variant="fpt" class="text-white" (click)="toggleEdit('patient')">
          {{ isPatientEditing ? "Cancel" : "Edit Patient Info" }}
        </button>
      </div>

      <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-x-4">
        <div class="w-full mb-4">
          <label hlmLabel>
            Phone Number
            <input
              hlmInput
              type="text"
              formControlName="phoneNumber"
              class="w-full mt-1 text-black font-medium"
            />
          </label>
        </div>

        <div class="w-full mb-4">
          <label hlmLabel>
            Gender
            <select
              hlmInput
              formControlName="gender"
              class="w-full mt-1 text-black font-medium"
            >
              <option value="" disabled>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </label>
        </div>

        <div class="w-full mb-4">
          <label hlmLabel>
            NIK
            <input
              hlmInput
              type="text"
              formControlName="nik"
              class="w-full mt-1 text-black font-medium"
            />
          </label>
        </div>

        <div class="w-full mb-4">
          <label hlmLabel>
            Address
            <input
              hlmInput
              type="text"
              formControlName="address"
              class="w-full mt-1 text-black font-medium"
            />
          </label>
        </div>

        <div class="w-full mb-4">
          <label hlmLabel>
            Date of Birth
            <input
              hlmInput
              type="date"
              formControlName="dateOfBirth"
              class="w-full mt-1 text-black font-medium"
            />
          </label>
        </div>
      </div>
    </div>

    <div class="mt-4 flex justify-end">
      <button hlmBtn type="submit" [disabled]="profileForm.invalid">
        Save Changes
      </button>
    </div>
  </form>
</div>
