<div class="w-full p-4">
  <p class="text-base font-bold">Temukan Dokter dan Jadwal yang sesuai</p>
  <div class="mt-4">
    <div class="mb-6">
      <label hlmLabel>
        Doctor Name
        <input
          hlmInput
          type="text"
          [(ngModel)]="doctorName"
          name="doctorName"
          placeholder="Doctor name"
          class="w-full mt-1"
        />
      </label>
    </div>

    <div class="mb-6">
      <label hlmLabel>
        Date
        <input
          hlmInput
          type="date"
          [(ngModel)]="appointmentDate"
          name="appointmentDate"
          class="w-full mt-1"
        />
      </label>
    </div>

    <!-- Submit Button -->
    <div class="flex justify-end">
      <button
        hlmBtn
        type="button"
        variant="fpt"
        class="text-center px-8 py-2 text-white"
        (click)="onSearch()"
      >
        Search
      </button>
    </div>
  </div>
</div>
