<div class="flow-root w-96">
  <dl class="-my-3 divide-y divide-gray-100 text-sm">
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Day</dt>
      <dd class="text-gray-700 sm:col-span-2">{{ listDoctorSchedule.day }}</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Doctor Name</dt>
      <dd class="text-gray-700 sm:col-span-2">{{ listDoctorSchedule.name }}</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Start Shift</dt>
      <dd class="text-gray-700 sm:col-span-2">{{ listDoctorSchedule.startWorkingHour }}</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">End Shift</dt>
      <dd class="text-gray-700 sm:col-span-2">{{ listDoctorSchedule.endWorkingHour }}</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Max Patients</dt>
      <dd class="text-gray-700 sm:col-span-2">{{ listDoctorSchedule.maxPatient }}</dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Created By</dt>
      <dd class="text-gray-700 sm:col-span-2">
        <p class="text-base">{{ listDoctorSchedule.createdBy}}</p>
        <p class="text-xs text-gray-500">
          {{ listDoctorSchedule.createdTime | date : "fullDate" }}
        </p>
      </dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">Updated By</dt>
      <dd class="text-gray-700 sm:col-span-2">
        <p class="text-base">{{ listDoctorSchedule.updatedBy }}</p>
        <p class="text-xs text-gray-500">
          {{ listDoctorSchedule.updatedTime | date : "fullDate" }}
        </p>
      </dd>
    </div>
  </dl>
</div>
